<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas&Nectar</title>
</head>
<body>
    <header>
    <h1>
        Add new events to the site 
    </h1>
    <main>
        <form action="/events/gasandnectar" method="POST">
            <select name="events">
                <% event.forEach(e=> { %>
                    <option value="<%= e._id%>">
                        <%= e.name %>
                    </option>
                    <% });%>
            </select><br>
            <input type="text" name="title" /><br />
            <textarea name="body"></textarea><br />
            <input type="submit" value="Create New Event" />
        </form>
    </main>
</header>
</body>
</html>