<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Gas&Nectar</title>
</head>
<body>
<p>test text to see if its working</p>
<img src="/images/redgasandnectar.png" alt="Gas&Nectar">  
<!-- 
dont know why this image doesnt render i need to figure it out before i put more images in. TODO  -->
    <nav>
        <a href="/events/gasandnectar">for now this is the link into the store.</a>

        </nav>
<input type="text" placeholder="EMAIL">
<input type="text" placeholder="PASSWORD">
<input type="submit" value="LOGIN"> 
<!-- not sure how to get the submti button to go to the event INded page  -->


</body>
</html>